.dabodyyy{
    text-align: center;
    background-color: rgb(249, 204, 255);
    justify-content: center;
}

.divvys{
    height: 200px;
    margin-top: 100px;
    margin-left: 350px;
    margin-right: 350px;
    justify-content: center;
    background-color: rgb(228, 200, 255);
    border-radius:20px;
    border-width: 3px;
    border-style: ridge;
    border-color: blueviolet;
    text-align: center;
}

#logout{
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}

#bottom{
    margin-top: 300px;
}

#message{
    width: 500px;
    margin-left: 500px;
}